:root{
    --black: #000000;
    --dark-purple: #5C2DD5;
    --purple: #7945FF;
    --red: #FD6687;
    --yellow:#FFCE67;
    --white: #FFFFFF;
}

body {
    background: var(--dark-purple);
}

.game-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-menu {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-button {
    font-family: "Space Grotesk", serif;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--dark-purple);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.screen-selector-player-menu {
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    background: var(--purple);
    border-radius: 40px;
    align-items: center;
    border: solid var(--black);
    box-shadow:  0px 10px var(--black); 
}

.select-player-vs-player-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Space Grotesk", serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    list-style-type: none;
    background: var(--yellow);
    border-radius: 20px;
    padding: 15px 15px;
    width: 400px;
    border: solid var(--black);
    box-shadow:  0px 10px var(--black); 
}

.select-games-rules-button {
    font-family: "Space Grotesk", serif;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
    color: var(--black);
    background: var(--white) ;
    border-radius: 20px;
    padding: 15px 15px;
    margin-top: 30px;
    width: 400px;
    border: solid var(--black);
    box-shadow:  0px 10px var(--black); 

}

.icon-four-games {
    padding-bottom: 70px;
    padding-top: 70px;
}


.rules {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-rules {
    background: var(--white);
    width: 412px;
    border-radius: 40px;
    padding: 35px;
    border: solid var(--black);
    box-shadow:  0px 10px var(--black);

}

.screen-rules h1 {
    font-family: "Space Grotesk", serif;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
}

.screen-rules h2 {
    font-family: "Space Grotesk", serif;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--purple);
}

.screen-rules p {
    font-family: "Space Grotesk", serif;
    font-size: 16px;
    color: var(--black);
}

.screen-rules li {
    font-family: "Space Grotesk", serif;
    font-size: 16px;
    color: var(--black);
}

.check-rules-cta {
    list-style-type: none;
    text-align : center;
    position: relative;
    top: 80px;
}


.svg-player {
    padding-left: 100px;
}

.game-board {
    position: relative;
}

.game-cell {
    position: absolute;
    height: 70px;
    width: 75px;
}

.game-cell[data-x="0"][data-y="0"] {
    top: 18px;
    left: 18px;
}

.game-cell[data-x="1"][data-y="0"] {
    top: 18px;
    left: 108px;
}

.game-cell[data-x="2"][data-y="0"] {
    top: 18px;
    left: 190px;
}

.game-cell[data-x="3"][data-y="0"] {
    top: 18px;
    left: 280px;
}

.game-cell[data-x="4"][data-y="0"] {
    top: 18px;
    left: 370px;
}

.game-cell[data-x="5"][data-y="0"] {
    top: 18px;
    left: 455px;
}

.game-cell[data-x="6"][data-y="0"] {
    top: 18px;
    left: 545px;
}

.game-cell[data-x="0"][data-y="1"] {
    top: 108px;
    left: 18px;
}

.game-cell[data-x="1"][data-y="1"] {
    top: 108px;
    left: 105px;
}

.game-cell[data-x="2"][data-y="1"] {
    top: 108px;
    left: 192px;
}

.game-cell[data-x="3"][data-y="1"] {
    top: 108px;
    left: 280px;
}

.game-cell[data-x="4"][data-y="1"] {
    top: 108px;
    left: 370px;
}

.game-cell[data-x="5"][data-y="1"] {
    top: 108px;
    left: 458px;
}

.game-cell[data-x="6"][data-y="1"] {
    top: 108px;
    left: 545px;
}

.game-cell[data-x="0"][data-y="2"] {
    top: 195px;
    left: 18px;
}

.game-cell[data-x="1"][data-y="2"] {
    top: 195px;
    left: 104px;
}

.game-cell[data-x="2"][data-y="2"] {
    top: 195px;
    left: 195px;
}

.game-cell[data-x="3"][data-y="2"] {
    top: 195px;
    left: 280px;
}

.game-cell[data-x="4"][data-y="2"] {
    top: 195px;
    left: 370px;
}

.game-cell[data-x="5"][data-y="2"] {
    top: 195px;
    left: 455px;
}

.game-cell[data-x="6"][data-y="2"] {
    top: 195px;
    left: 545px;
}

.game-cell[data-x="0"][data-y="3"] {
    top: 280px;
    left: 18px;
}

.game-cell[data-x="1"][data-y="3"] {
    top: 280px;
    left: 104px;
}

.game-cell[data-x="2"][data-y="3"] {
    top: 280px;
    left: 195px;
}

.game-cell[data-x="3"][data-y="3"] {
    top: 280px;
    left: 280px;
}

.game-cell[data-x="4"][data-y="3"] {
    top: 280px;
    left: 370px;
}

.game-cell[data-x="5"][data-y="3"] {
    top: 280px;
    left: 455px;
}

.game-cell[data-x="6"][data-y="3"] {
    top: 280px;
    left: 545px;
}

.game-cell[data-x="0"][data-y="4"] {
    top: 370px;
    left: 18px;
}

.game-cell[data-x="1"][data-y="4"] {
    top: 370px;
    left: 104px;
}

.game-cell[data-x="2"][data-y="4"] {
    top: 370px;
    left: 195px;
}

.game-cell[data-x="3"][data-y="4"] {
    top: 370px;
    left: 280px;
}

.game-cell[data-x="4"][data-y="4"] {
    top: 370px;
    left: 370px;
}

.game-cell[data-x="5"][data-y="4"] {
    top: 370px;
    left: 455px;
}

.game-cell[data-x="6"][data-y="4"] {
    top: 370px;
    left: 545px;
}

.game-cell[data-x="0"][data-y="5"] {
    top: 455px;
    left: 18px;
}

.game-cell[data-x="1"][data-y="5"] {
    top: 455px;
    left: 104px;
}

.game-cell[data-x="2"][data-y="5"] {
    top: 455px;
    left: 195px;
}

.game-cell[data-x="3"][data-y="5"] {
    top: 455px;
    left: 280px;
}

.game-cell[data-x="4"][data-y="5"] {
    top: 455px;
    left: 370px;
}

.game-cell[data-x="5"][data-y="5"] {
    top: 455px;
    left: 455px;
}

.game-cell[data-x="6"][data-y="5"] {
    top: 455px;
    left: 545px;
}